/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LAYOUT BODY */
body {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 100%;
    min-height: 7rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#content {
    display: flex;
    justify-content: center;
    align-items: start;

    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    flex-grow: 1;
}


/* LAYOUT HOME PAGE */
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding-top: 2rem;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    margin-bottom: 7rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    max-width: 700px;
    min-height: 10rem;
    padding: 1.3rem 2rem;
    padding-bottom: 1.9rem;

    margin-bottom: 5rem;
}

.description {
    flex-wrap: wrap;
}

/* LAYOUT MENU PAGE */
.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.menuHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.containerMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 700px;
    padding: 1rem;
    gap: 2rem;
}

.containerPict {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}

.pict {
    max-width: 15rem;
}

.container.ramen,
.container.sushi,
.container.curry {
    flex-wrap: wrap;
    align-self: start;
}

.containerMenu {
    margin-bottom: 5rem;
    min-height: 20rem;
}

.foodInfo.ramen,
.foodInfo.sushi,
.foodInfo.curry {
    margin-bottom: 1rem;
}


/* LAYOUT CONTACT PAGE */
.contactPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contactHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    margin-bottom: 3rem;
}

.contactInfo {
    margin-bottom: 0.5rem;
}


/* STYLE BODY */
body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Shippori Mincho', sans-serif;
}

#content {
    background-color: rgba(255, 255, 255, 0.7);
}

header {
    background-color: black;
}

.button {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 30px;
    padding: 0.4rem 2rem;
    padding-bottom: 0.6rem;
    cursor: pointer;

    color: rgba(0, 0, 0, 1);
    font-family: 'Shippori Mincho', sans-serif;
    font-weight: bold;
}


/* STYLE HOME PAGE */
#title {
    font-size: 4rem;
    border-bottom: 4px solid black;
}

.header{
    font-size: 2rem;
}

.description,
.timeInfo,
.location {
    font-size: 1.4rem;
}

.container {
    border: 2px solid black;
}


/* STYLE MENU PAGE */
.container.menuHeader {
    border: none;
}

#menu {
    font-size: 4rem;
    border-bottom: 4px solid black;
}

.container.ramen,
.container.sushi,
.container.curry {
    border: none;
}

.containerMenu {
    border: 2px solid black;
}

.foodInfo {
    font-size: 1.5rem;
}

.menuDesc {
    font-size: 1.1rem;
}