/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LAYOUT BODY */
body {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 100%;
    min-height: 2rem;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1200px;
}


/* LAYOUT HOME PAGE */
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}