/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LAYOUT BODY */
body {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 100%;
    min-height: 3rem;
    margin-bottom: 1rem;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
}


/* LAYOUT HOME PAGE */
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    margin-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    margin-bottom: 2rem;
}

.description {
    flex-wrap: wrap;
}

/* LAYOUT MENU PAGE */
.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.menuHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.containerMenu {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 700px;
    gap: 5rem;
}

.containerPict {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pict {
    max-width: 15rem;
}

.container.ramen,
.container.sushi,
.container.curry {
    flex-wrap: wrap;
    align-self: start;
}

.containerMenu {
    margin-bottom: 5rem;
}

.foodInfo.ramen,
.foodInfo.sushi,
.foodInfo.curry {
    margin-bottom: 1rem;
}


/* LAYOUT CONTACT PAGE */
.contactPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contactHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    margin-bottom: 3rem;
}

.contactInfo {
    margin-bottom: 0.5rem;
}


/* STYLE BODY */
body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}